<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/assets/css/style.css">
  <link rel="stylesheet" href="/static/assets/css/responsive.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <title>سبد خرید</title>
</head>

<body data-type="Scroll">
  <!-- [satrt] header -->
  <header id="header">
    <div class="overlay"></div>
    <div class="container">
      <div class="main-header">
        <nav>
          <a href="#" class="logo">
            <img src="/static/images/logo-social.png" alt="logo">
          </a>
          <ul>
            <li><a href="/login">ورود / ثبت نام <i class='bx bx-user-pin'></i></a></li>
            <li><a href="/cart">سبد خرید <i class='bx bx-shopping-bag' data-count="{{request.length}}"></i></a></li>
          </ul>
        </nav>
        <div class="form">
          <form action="/products" class="search">
            <input type="text" placeholder="جستجو کنید">
            <button type="submit" class="btn">
              <i class='bx bx-search-alt'></i>
            </button>
            <div class="search__result">
              <ul>
                <li><a href="#"><i class="bx bx-search-alt"></i>ماست</a></li>
                <li><a href="#"><i class="bx bx-search-alt"></i>ماست</a></li>
                <li><a href="#"><i class="bx bx-search-alt"></i>ماست</a></li>
                <li><a href="#"><i class="bx bx-search-alt"></i>ماست</a></li>
                <li><a href="#"><i class="bx bx-search-alt"></i>ماست</a></li>
              </ul>
              <div class="no__result">
                <img
                  src="/static/images/search-no-result-concept-illustration-flat-design-eps10-modern-graphic-element-for-landing-page-empty-state-ui-infographic-icon-vector.jpg"
                  alt="No Result">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </header>
  <!-- [end] header -->
  <main>
    <div class="over__shadow"></div>
    <!-- [start] progress bar -->
    <section id="progress__bar">
      <div class="container">
        <article>
          <a href="#" class="logo">
            <img src="/static/images/logo-social.png" alt="Logo">
          </a>
          <div class="progress__sections">
            <p class="active"><i class="bx bx-shopping-bag"></i>سبد خرید</p>
            <div class="arrow">
              <div class="line"></div>
            </div>
            <p><i class='bx bx-wallet-alt'></i>زمان ارسال و پرداخت</p>
          </div>
        </article>
      </div>
    </section>
    <!-- [end] progress bar -->
    <!-- [start] purchase products -->
    <section id="purchase__products">
      <div class="container">
        <div class="main-grid">
          <article class="right">
            {% for item in items %}
              <div class="product__box">
                <div class="right__section">
                  <h3>{{ item.product.category.name }}</h3>
                  <div class="count__section">
                    <input type="hidden" name="product_id" value="{{ item.product.id }}">
                    <button class="plus__btn"><i class="bx bx-plus"></i></button>
                    <p class="product__count">{{ item.product_count }}</p>
                    <button class="minus__btn"><i class="bx bx-minus"></i></button>
                  </div>
                </div>
                <div class="left__section">
                  <p>{{ item.product.name }}</p>
                  <div class="product__price">
                    {% if item.product.discount %}
                      <p class="discount"><del>{{ item.product.price }}</del>تومان</p>
                    {% endif %}
                    <p class="actual__count"><span>{{ item.get_actual_price }}</span>تومان</p>
                  </div>
                </div>
              </div>
            {% endfor %}
          </article>
          <aside class="left">
            <div class="box__info">
              <div class="product__count row">
                <h4>تعداد کالا</h4>
                <p class="count">{{ items|length }}</p>
              </div>
              <div class="product__actualcount row">
                <h4>مبلغ کالا</h4>
                <p class="price">{{ full_price }} <span>تومان</span></p>
              </div>
              <div class="product__discount row">
                <h4>جمع کل تخفیف</h4>
                <p class="discount">{{ sum_discount }} <span>تومان</span></p>
              </div>
              <div class="product__discountprice row">
                <h4>قابل پرداخت</h4>
                <p class="actual__price">{{ price_to_pay }} <span>تومان</span></p>
              </div>
              <a href="/checkout">ادامه</a>
            </div>
          </aside>
        </div>
      </div>
    </section>
    <!-- [end] purchase products -->
    <!-- [start] navigation buttom section -->
    <section class="nav-bottom">
      <div class="container">
        <div class="main-nav-bottom">
          <a href="#" class="item">
            <i class='bx bx-home-alt-2'></i>
            <p>خانه</p>
          </a>
          <a href="#" class="item count-box">
            <i class='bx bx-shopping-bag'></i>
            <p>سبد خرید</p>
          </a>
          <a href="#" class="item">
            <i class='bx bx-user'></i>
            <p>پروفایل</p>
          </a>
        </div>
      </div>
    </section>
    <!-- [end] navigation button section -->
  </main>
  <!-- [start] footer section -->
  <footer class="pc">
    <div class="footer-content">
      <h4>طراحی شده توسط تیم رایا</h4>
      <p>تمامی حقوق مادی و معنوی این اثر متعلق به تیم رایا است.</p>
    </div>
  </footer>
  <!-- [end] footer section -->
  <script src="/static/assets/js/cart.js"></script>
</body>
</html>
