<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/assets/css/style.css">
  <link rel="stylesheet" href="/static/assets/css/responsive.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <title>checkout</title>
</head>

<body data-type="Scroll">
  <!-- [satrt] header -->
  <header id="header">
    <div class="overlay"></div>
    <div class="container">
      <div class="main-header">
        <nav>
          <a href="#" class="logo">
            <img src="/static/images/logo-social.png" alt="logo">
          </a>
          <ul>
            <li><a href="/login">ورود / ثبت نام <i class='bx bx-user-pin'></i></a></li>
            <li><a href="/cart">سبد خرید <i class='bx bx-shopping-bag' data-count="{{request.length}}"></i></a></li>
          </ul>
        </nav>
        <div class="form">
          <form action="#" class="search">
            <input type="text" placeholder="جستجو کنید">
            <button type="submit" class="btn">
              <i class='bx bx-search-alt'></i>
            </button>
            <div class="search__result">
              <ul>
                <li><a href="#"><i class="bx bx-search-alt"></i>ماست</a></li>
                <li><a href="#"><i class="bx bx-search-alt"></i>ماست</a></li>
                <li><a href="#"><i class="bx bx-search-alt"></i>ماست</a></li>
                <li><a href="#"><i class="bx bx-search-alt"></i>ماست</a></li>
                <li><a href="#"><i class="bx bx-search-alt"></i>ماست</a></li>
              </ul>
              <div class="no__result">
                <img
                  src="/static/images/search-no-result-concept-illustration-flat-design-eps10-modern-graphic-element-for-landing-page-empty-state-ui-infographic-icon-vector.jpg"
                  alt="No Result">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </header>
  <!-- [end] header -->
  <main>
    <div class="over__shadow"></div>
    <!-- [start] progress bar -->
    <section id="progress__bar">
      <div class="container">
        <article>
          <a href="#" class="logo">
            <img src="/static/images/logo-social.png" alt="Logo">
          </a>
          <div class="progress__sections">
            <p class="active"><i class="bx bx-shopping-bag"></i>سبد خرید</p>
            <div class="arrow">
              <div class="line active"></div>
            </div>
            <p class="active"><i class='bx bx-wallet-alt'></i>زمان ارسال و پرداخت</p>
          </div>
        </article>
      </div>
    </section>
    <!-- [end] progress bar -->
    <!-- [start] purchase products -->
    <section id="checkout__body">
      <div class="container">
        <div class="main-grid">
          <div class="right">
            <article class="user__address">
              <div class="user-address__body">
                <div class="head">
                  <h3>آدرس گیرنده</h3>
                  <a href="#">ویرایش</a>
                </div>
                <ul>
                  <li>
                    <p>آدرس: <span>{{ address }}</span></p><i class="bx bx-location-plus"></i>
                  </li>
                  <li>
                    <p>شماره تماس: <span>{{ phone }}</span></p><i class="bx bx-phone"></i>
                  </li>
                  <li>
                    <p>نام گیرنده: <span>{{ name }}</span></p><i class="bx bx-user"></i>
                  </li>
                </ul>
              </div>
            </article>
            <article class="user__payment">
              <div class="user__product">
                <h3><i class="bx bx-shopping-bag"></i>محصولات شما</h3>
                <div class="row">
                  {% for item in items %}
                    <div class="product__img">
                      <img src="{{ item.product.image.url }}" alt="">
                    </div>
                  {% endfor %}
                </div>
              </div>
              <div class="how-to__pay">
                <h3><i class='bx bxs-truck'></i>نوع پرداخت</h3>
                <form method="post">
                  {% csrf_token %}
                  <div class="payment__box">
                    <div class="title">
                      <input type="radio" name="payment-gateway" id="internet" value="1">
                      <label for="internet">پرداخت اینترنتی</label>
                    </div>
                    <p>لورم ایپسوم یا طرح‌نما (به انگلیسی: Lorem ipsum) به متنی آزمایشی و بی‌معنی در صنعت چاپ،
                      صفحه‌آرایی و طراحی گرافیک گفته می‌شود. طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای
                      پر کردن صفحه و ارایه اولیه شکل ظاهری و کلی طرح سفارش گرفته شده استفاده می نماید، تا از نظر
                      گرافیکی نشانگر چگونگی نوع و اندازه فونت و ظاهر متن باشد.</p>
                  </div>
                  <div class="payment__box">
                    <div class="title">
                      <input type="radio" name="payment-gateway" id="person-shop" value="2">
                      <label for="person-shop">پرداخت حضوری(درب فروشگاه)</label>
                    </div>
                    <p>لورم ایپسوم یا طرح‌نما (به انگلیسی: Lorem ipsum) به متنی آزمایشی و بی‌معنی در صنعت چاپ،
                      صفحه‌آرایی و طراحی گرافیک گفته می‌شود. طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای
                      پر کردن صفحه و ارایه اولیه شکل ظاهری و کلی طرح سفارش گرفته شده استفاده می نماید، تا از نظر
                      گرافیکی نشانگر چگونگی نوع و اندازه فونت و ظاهر متن باشد.</p>
                  </div>
                  <div class="payment__box">
                    <div class="title">
                      <input type="radio" name="payment-gateway" id="person-person" value="3">
                      <label for="person-person">پرداخت حضوری(درب منزل)</label>
                    </div>
                    <p>لورم ایپسوم یا طرح‌نما (به انگلیسی: Lorem ipsum) به متنی آزمایشی و بی‌معنی در صنعت چاپ،
                      صفحه‌آرایی و طراحی گرافیک گفته می‌شود. طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای
                      پر کردن صفحه و ارایه اولیه شکل ظاهری و کلی طرح سفارش گرفته شده استفاده می نماید، تا از نظر
                      گرافیکی نشانگر چگونگی نوع و اندازه فونت و ظاهر متن باشد.</p>
                  </div>
              </div>
            </article>
          </div>
          <aside class="left">
            <div class="box__info">
              <div class="product__count row">
                <h4>تعداد کالا</h4>
                <p class="count">{{ items|length }}</p>
              </div>
              <div class="product__actualcount row">
                <h4>مبلغ کالا</h4>
                <p class="price">{{ full_price }} <span>تومان</span></p>
              </div>
              <div class="product__discount row">
                <h4>جمع کل تخفیف</h4>
                <p class="discount">{{ sum_discount }} <span>تومان</span></p>
              </div>
              <div class="product__discountprice row">
                <h4>قابل پرداخت</h4>
                <p class="actual__price">{{ price_to_pay }} <span>تومان</span></p>
              </div>
              <a href="#"><input type="submit">ادامه</a>
            </div>
          </form>
          </aside>
        </div>
      </div>
    </section>
    <!-- [end] purchase products -->
    <!-- [start] navigation buttom section -->
    <section class="nav-bottom">
      <div class="container">
        <div class="main-nav-bottom">
          <a href="#" class="item">
            <i class='bx bx-home-alt-2'></i>
            <p>خانه</p>
          </a>
          <a href="#" class="item count-box">
            <i class='bx bx-shopping-bag'></i>
            <p>سبد خرید</p>
          </a>
          <a href="#" class="item">
            <i class='bx bx-user'></i>
            <p>پروفایل</p>
          </a>
        </div>
      </div>
    </section>
    <!-- [end] navigation button section -->
  </main>
  <!-- [start] footer section -->
  <footer class="pc">
    <div class="footer-content">
      <h4>طراحی شده توسط تیم رایا</h4>
      <p>تمامی حقوق مادی و معنوی این اثر متعلق به تیم رایا است.</p>
    </div>
  </footer>
  <!-- [end] footer section -->
  <script src="/static/assets/js/checkout.js"></script>
</body>

</html>
