<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/assets/css/style.css">
  <link rel="stylesheet" href="/static/assets/css/responsive.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <title>سبد خرید</title>
</head>

<body data-type="Scroll">
  <!-- [satrt] header -->
  <header id="header">
    <div class="overlay"></div>
    <div class="container">
      <div class="main-header">
        <nav>
          <a href="#" class="logo">
            <img src="/static/images/logo-social.png" alt="logo">
          </a>
          <ul>
            <li><a href="/login">ورود / ثبت نام <i class='bx bx-user-pin'></i></a></li>
            <li><a href="/cart">سبد خرید <i class='bx bx-shopping-bag data-counter' data-count="{{request.length}}"></i></a></li>
          </ul>
        </nav>
        <div class="form">
          <form action="#" class="search">
            <input type="text" placeholder="جستجو کنید">
            <button type="submit" class="btn">
              <i class='bx bx-search-alt'></i>
            </button>
            <div class="search__result">
              <ul>
                <li><a href="#"><i class="bx bx-search-alt"></i>ماست</a></li>
                <li><a href="#"><i class="bx bx-search-alt"></i>ماست</a></li>
                <li><a href="#"><i class="bx bx-search-alt"></i>ماست</a></li>
                <li><a href="#"><i class="bx bx-search-alt"></i>ماست</a></li>
                <li><a href="#"><i class="bx bx-search-alt"></i>ماست</a></li>
              </ul>
              <div class="no__result">
                <img
                  src="/static/images/search-no-result-concept-illustration-flat-design-eps10-modern-graphic-element-for-landing-page-empty-state-ui-infographic-icon-vector.jpg"
                  alt="No Result">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </header>
  <!-- [end] header -->
  <main>
    <div class="over__shadow"></div>
    <!-- [start] progress bar -->
    <section id="products">
      <div class="container">
        <div class="main-grid-products">
        </div>
        <div class="not-found-product">
          <img src="/media/not-found.svg" alt="not-found.">
          <p>محصول مورد نظر یافت نشد</p>
        </div>
      </div>
    </section>
    <!-- [start] navigation buttom section -->
    <section class="nav-bottom">
      <div class="container">
        <div class="main-nav-bottom">
          <a href="#" class="item">
            <i class='bx bx-home-alt-2'></i>
            <p>خانه</p>
          </a>
          <a href="#" class="item count-box data-counter" data-count="{{request.length}}">
            <i class='bx bx-shopping-bag'></i>
            <p>سبد خرید</p>
          </a>
          <a href="#" class="item">
            <i class='bx bx-user'></i>
            <p>پروفایل</p>
          </a>
        </div>
      </div>
    </section>
    <!-- [end] navigation button section -->
    <div class="add-product-toast">
      <p>محصول به سبد شما اضافه شد</p>
    </div>
  </main>
  <!-- [start] footer section -->
  <footer class="pc">
    <div class="footer-content">
      <h4>طراحی شده توسط تیم رایا</h4>
      <p>تمامی حقوق مادی و معنوی این اثر متعلق به تیم رایا است.</p>
    </div>
  </footer>
  <!-- [end] footer section -->
  <script src="/static/assets/js/products.js"></script>
</body>
</html>
