<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/assets/css/style.css">
  <link rel="stylesheet" href="/static/assets/css/responsive.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <title>profile</title>
</head>

<body data-type="Scroll">
  <!-- [satrt] header -->
  <header id="header">
    <div class="overlay"></div>
    <div class="container">
      <div class="main-header">
        <nav>
          <a href="#" class="logo">
            <img src="/static/images/logo-social.png" alt="logo">
          </a>
          <ul>
            <li><a href="/login">ورود / ثبت نام <i class='bx bx-user-pin'></i></a></li>
            <li><a href="/cart">سبد خرید <i class='bx bx-shopping-bag' data-count="{{request.length}}"></i></a></li>
          </ul>
        </nav>
        <div class="form">
          <form action="#" class="search">
            <input type="text" placeholder="جستجو کنید">
            <button type="submit" class="btn">
              <i class='bx bx-search-alt'></i>
            </button>
            <div class="search__result">
              <ul>
                <li><a href="#"><i class="bx bx-search-alt"></i>ماست</a></li>
                <li><a href="#"><i class="bx bx-search-alt"></i>ماست</a></li>
                <li><a href="#"><i class="bx bx-search-alt"></i>ماست</a></li>
                <li><a href="#"><i class="bx bx-search-alt"></i>ماست</a></li>
                <li><a href="#"><i class="bx bx-search-alt"></i>ماست</a></li>
              </ul>
              <div class="no__result">
                <img
                  src="/static/images/search-no-result-concept-illustration-flat-design-eps10-modern-graphic-element-for-landing-page-empty-state-ui-infographic-icon-vector.jpg"
                  alt="No Result">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </header>
  <!-- [end] header -->
  <main>
    <div class="over__shadow"></div>
    <!-- [start] navigation buttom section -->
    <section id="profile__body">
      <div class="container">
        <div class="grid-profile">
          <aside class="user-prof">
            <div class="head">
              <h2><i class="bx bx-user"></i>عرشیا کاظم تمیمی</h2>
            </div>
            <div class="body">
              <ul>
                <li class="active"><a href="#"><i class="bx bxs-dashboard"></i>داشبورد</a></li>
                <li><a href="#"><i class='bx bx-notepad'></i>سفارش های من</a></li>
                <li><a href="#"><i class='bx bx-exit'></i>خروج از حساب</a></li>
              </ul>
            </div>
          </aside>
          <article class="user-prof__info">
            <div class="head">
              <h2>داشبورد</h2>
            </div>
            <div class="body">
              <div class="flex">
                <div class="phone">
                  <p><i class="bx bx-user"></i>شماره تماس: <span>0123456789</span></p>
                  <i class='bx bx-pencil'></i>
                </div>
                <div class="line"></div>
                <div class="fl-name">
                  <p><i class="bx bx-user"></i>نام و نام خانوادگی: <span>عرشیا کاظم تمیمی</span></p>
                  <i class='bx bx-pencil'></i>
                </div>
              </div>
              <div class="flex">
                <div class="email">
                  <p><i class="bx bx-envelope"></i>ایمیل: <span>test@gmail.com</span></p>
                  <i class='bx bx-pencil'></i>
                </div>
                <div class="line"></div>
                <div class="address">
                  <p><i class="bx bx-home"></i>ایمیل: <span>test@gmail.com</span></p>
                  <i class='bx bx-pencil'></i>
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>
    </section>
    <section class="nav-bottom">
      <div class="container">
        <div class="main-nav-bottom">
          <a href="#" class="item">
            <i class='bx bx-home-alt-2'></i>
            <p>خانه</p>
          </a>
          <a href="#" class="item count-box">
            <i class='bx bx-shopping-bag'></i>
            <p>سبد خرید</p>
          </a>
          <a href="#" class="item">
            <i class='bx bx-user'></i>
            <p>پروفایل</p>
          </a>
        </div>
      </div>
    </section>
    <!-- [end] navigation button section -->
  </main>
  <!-- [start] footer section -->
  <footer class="pc">
    <div class="footer-content">
      <h4>طراحی شده توسط تیم رایا</h4>
      <p>تمامی حقوق مادی و معنوی این اثر متعلق به تیم رایا است.</p>
    </div>
  </footer>
  <!-- [end] footer section -->
  <script src="/static/assets/js/checkout.js"></script>
</body>

</html>
